<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.timtro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityMap"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="example.com.timtro.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityChiTietOGhep"
            android:label="@string/app_name1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityTimOGhep"
            android:label="@string/app_name2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityDangTinOGhep"
            android:label="@string/dang_o_ghep"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityDangTinChoThue"
            android:label="@string/dang_cho_thue"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityTabBaocao"
            android:label="Báo cáo"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MainActivityChiTietTro"
            android:label="@string/thongtinphong"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivitySuCo"
            android:label="Báo cáo sự cố"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
        android:name=".ActivityLamDung"
        android:label="Báo cáo lạm dụng"
        android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
    </application>

</manifest>